* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    
  font-family: "Avenir Next", "Avenir", sans-serif;
}

body {
    background-color: #2a2929;
    width: 100vw;
    height: 100vh;
}

.hamburguesa {
    color: #0b510c;
    cursor: pointer;
}

.burger {
    display: none;
}

header {
    position: relative;
    width: 90vw;
    height: 15vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    margin: auto;
    top: 40%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.logo {
    height: 80%;
    
    transition: all .5s;
}

.logo img {
    height: 100%;
}

.menuLinks a {
    color: #2a2929;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menuLinks a:hover{
    color: #0b510c;
}

.menuLinks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
}

.menuLinks li {
    list-style: none;
    margin: 20px 0px;
}

.menu {
    right: 0;
    background-color: beige;
    position: absolute;
    top: 90%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 70%;

    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.menuLinks ul {
    border-bottom: solid 1px #2a2929 ;
}

.burger:checked + .menu {
    display: flex;
    height: 35vh;
}

@media (min-width: 760px) {
    .menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        top: 0;
    }

    header {
        padding: 10px;
        flex-wrap: no-wrap;
    }

    .menuLinks ul {
        display: flex;
        border-bottom: none;
        gap: 50px;
    }

    .menuLinks {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hamburguesa {
        display: none;
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
